<!-- <ion-header>
   <ion-toolbar>
     <ion-title>login</ion-title>
   </ion-toolbar>
   </ion-header> -->
   <ion-content padding>
      <div class="login-details">
         <form (ngSubmit)="doLogin()">
            <img src="assets/imgs/logo1.png">
            <ion-item class="select-role-number">
               <ion-label position="floating">Mobile Number</ion-label>
               <ion-input [(ngModel)]="formdata.mobile" name="mobile" type="number" [disabled]="isOtpSent" ></ion-input>
            </ion-item>
            <p text-center class="isError" *ngIf="isError" >{{ errorMsg }}</p>
            <p text-center *ngIf="!isOtpSent">
               <ion-button type="submit" class="Login-btn" >Validate</ion-button>
            </p>
            <div *ngIf="isOtpSent" >
               <p text-center class="text-green">OTP has been sent to your mobile number.</p>
               <ion-item class="select-role-number">
                  <ion-label position="floating">OTP</ion-label>
                  <ion-input [(ngModel)]="formdata.otp" name="otp" type="number" ></ion-input>
               </ion-item>
               <p text-center class="isError" *ngIf="isOtpError" >{{ otpErrorMsg }}</p>
               <p text-center>
                  <ion-button type="button" class="Login-btn" (click)="validateOtp()" >Login</ion-button>
               </p>
               <p text-center class="link" (click)="doLogin()" >Resend OTP.</p>
            </div>
         </form>
         <p text-center class="Signup-detail" routerLink="/signup"> <u>Create a New Account Register here</u></p>
      </div>
   </ion-content>