ion-content {
	--background: #fffefb;
	
}

.login-details{
	background-color: rgba(187, 164, 164, 0.1);
	padding-bottom: 20px;
	min-height: 100% !important;

}
.login-details img {
	margin: 0 auto;
	display: block;
	width: 150px;
	padding-top: 75px;
}

.select-role-number ion-label {
	color: rgb(0, 0, 0);
}

.select-role-password ion-label {
	color: rgb(0, 0, 0);
}

.select-role-number {
	width: 90%;
	margin: 0 auto;
	--background: transparent;
	margin-top: 30px;
}

.select-role-password {
	width: 90%;
	margin: 0 auto;
	--background: transparent;
	margin-top: 10px;
}

.Login-btn {
	--background: #b93b11;
	width: 40%;
	margin-top: 35px;
}

.Signup-detail {
	color: #413d0d;
	margin-top: 35px;
	font-size: 19px;
	font-weight: 600;
	padding: 0px 10px;

}
.isError{
	color: red;
}