<!-- <ion-header>
   <ion-toolbar>
     <ion-title>login</ion-title>
   </ion-toolbar>
   </ion-header> -->
   <ion-content padding>
      <div class="login-details">
         <form (ngSubmit)="doLogin()">
            <img src="assets/imgs/logo1.png">
            <ion-item class="select-role-number">
               <ion-label position="floating">Mobile Number</ion-label>
               <ion-input [(ngModel)]="formdata.mobile" name="mobile" type="number"></ion-input>
            </ion-item>
            <ion-item class="select-role-password">
               <ion-label position="floating">Password</ion-label>
               <ion-input [(ngModel)]="formdata.password" name="password" type="Password" ></ion-input>
            </ion-item>
            <p text-center class="isError" *ngIf="isError" >{{ errorMsg }}</p>
            <p text-center>
               <ion-button type="submit" class="Login-btn" >Login</ion-button>
            </p>
         </form>
         <p text-center class="Signup-detail" routerLink="/signup"> <u>Create a New Account Register here</u></p>
      </div>
   </ion-content>