.status-label{
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 1px 1px 5px 0px #676363;
}

.token-display{
    background: #f9f9f9;
    padding: 10px 5px;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 30px;
    border: solid 2px #a09797;
}