<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->



<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
    
    </ion-header>
    <ion-content>






      <ion-menu-toggle auto-hide="false">



          <ion-toolbar color="primary" class="tool-bar">
        
        
              <div class="ioncss" routerLink="/profile" auto-hide="false">
                <ion-buttons float-right>
                  <ion-button>
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                   
                  </ion-button>
                </ion-buttons>
              </div>
      
      
              <div class="user-details" text-center>
                <h5>K.Kannadhasan</h5>
                <p>kannadhasn@gmail.com</p>
                <p>9875048890</p>
              </div>
            
            </ion-toolbar>


        <!-- <ion-item routerLink="/profile">
        <ion-buttons slot="end">
          <ion-icon name="person"></ion-icon>
        </ion-buttons>
        <ion-label>
          Profile
        </ion-label>
      </ion-item> -->

        <ion-item routerLink="/appoinmenthistory">
          <ion-buttons slot="end">
            <ion-icon name="copy"></ion-icon>
          </ion-buttons>
          <ion-label>
            Appoinment Histoty
          </ion-label>
        </ion-item>

        <ion-item routerLink="/changepassword">
          <ion-buttons slot="end">
            <ion-icon name="create"></ion-icon>
          </ion-buttons>
          <ion-label>
            Change Password
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-buttons slot="end">
            <ion-icon name="power"></ion-icon>
          </ion-buttons>
          <ion-label>
            Log Out
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>

  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>