.user-images{
    display:block;
    margin:auto;
    width: 140px;
    border-radius: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: solid 4px #7993ff;
}
.user-details{
    text-align: center;
    font-size: 18px;
    padding: 3px 0px;
    color: #4b4b4b;
    font-weight: 600;
    
}
.Name-user{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 15px 0px;
    border-bottom: solid 2px #bcbcbc;

}
.profile-card{
    background: #f2f2f2;
    margin-top: 20px;
    padding-bottom: 50px;
}