ion-content {
	--background: #ffffff;
	
}

.login-details{
	background-color: rgba(255, 255, 255, 0.1);
	padding-bottom: 20px;
    min-height: 100% !important;
   

}




.select-role-number ion-label {
	color: rgb(0, 0, 0);
}

.select-role-password ion-label {
	color: rgb(0, 0, 0);
}

.select-role-name ion-label {
	color: rgb(0, 0, 0);
}

.select-role-email ion-label {
	color: rgb(0, 0, 0);
}

.select-role-name {
	width: 90%;
	margin: 0 auto;
	--background: transparent;

    padding: 0px !important;
}

.select-role-number {
	width: 90%;
	margin: 0 auto;
	--background: transparent;
}

.select-role-email {
	width: 90%;
	margin: 0 auto;
	--background: transparent;
}

.select-role-password {
	width: 90%;
	margin: 0 auto;
	--background: transparent;
}

.Login-btn {
	--background: #b93b11;
	width: 40%;
	margin-top: 35px;
}

.Signup-detail {
	color: #413d0d;
	margin-top: 35px;
	font-size: 19px;
	font-weight: 600;
	padding: 0px 10px;
}

