<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Book Appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="login-details">
    <form (ngSubmit)="bookAppointment()" >
      <ion-item class="select-role-name">
        <ion-label position="floating">Enter Your Name</ion-label>
        <ion-input type="text" [(ngModel)]="formdata.name" name="name" ></ion-input>
      </ion-item>
      <ion-item class="select-role-number">
        <ion-label position="floating">Mobile Number</ion-label>
        <ion-input type="Number" [(ngModel)]="formdata.mobile" name="mobile"></ion-input>
      </ion-item>
      <ion-item class="select-role-password">
        <ion-label position="floating">Age</ion-label>
        <ion-input type="Number" [(ngModel)]="formdata.age" name="age" ></ion-input>
      </ion-item>

      <ion-item class="select-role-password">
        <ion-label>Date</ion-label>
        <ion-datetime display-format="DD/MM/YYYY" max="2021" name="date" [(ngModel)]="formdata.date"></ion-datetime>
      </ion-item>

      <ion-item class="select-role-password">
        <ion-label>Session</ion-label>
        <ion-select (ionChange)="changeTime($event.target.value)" placeholder="Session" name="session">
          <ion-select-option [value]="session" *ngFor="let session of sessionList">{{session.sessionName}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="select-role-password">
        <ion-label>Time</ion-label>
        <ion-select placeholder="Time" name="time" [(ngModel)]="formdata.time">
          <ion-select-option *ngFor="let time of selectedSessionTimeList" [value]="time.value">{{time.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <p text-center class="isError" *ngIf="isError" >{{ errorMsg }}</p>
      <p text-center class="isSuccess" *ngIf="isSuccess" >{{ 'Booked successfully.' }}</p>
      <p text-center>
        <ion-button class="Login-btn" type="submit" >Book</ion-button>
      </p>
    </form>
  </div>

</ion-content>