.book-btn{
    width: 60%;
    margin: 0 auto;
    display: block;
    margin-top:25px;
}

.bookinglist{
    border-style: dashed;
    margin: 0px 15px;
    border-color: rgb(126, 126, 126);
    margin-top: 30px;
   
}

// .bookinglist{
//     border-style: dotted;
//     margin: 0px 15px; 
//     border-color: rgb(126, 126, 126);
//     margin-top: 30px;
//     background: rgba(86, 207, 255,0.5)  url(../../assets/imgs/logo1.png);
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: center; 
//     background-size: 100px 100px;
    
//     position: relative;
// }


.book-heading{
text-align: center;
margin: 15px 0px;
    font-size: 24px;
}
.user-detail{
    padding: 10px 10px;
    font-weight: 600;
    color: #434343;

}

.user-information p{
    text-align: center;
    font-size: 15px;
    padding: 10px 8px;
}
.logo-imgs{
    width: 100px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}