<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Skin Cliniq</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-button *ngIf="message" routerLink="/bookappointment" fill="outline" class="book-btn">book appoinment</ion-button>

  <div class="user-detail" *ngIf="message" >
      <span>{{ message }}</span>
    </div>

  <div class="bookinglist" *ngIf="appoinment" >

      <img src="assets/imgs/logo1.png" class="logo-imgs"> 

      
    <h5 class="book-heading">Booking Details</h5>

    
    <div class="user-detail"  >

        <ion-row>
            <ion-col size="5">
              Status
            </ion-col>
            <ion-col size="1">
              :
            </ion-col>
            <ion-col size="6">
              <span>{{ appoinment.bookingstatus }}</span> 
            </ion-col>
          </ion-row>

      <ion-row>
        <ion-col size="5">
          Name
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          <span>{{ appoinment.fbookingname }}</span> 
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="5">
          Age
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          {{ appoinment.bookingage }}
        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col size="5">
          Date
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
         {{ appoinment.appoinmentdate }}
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="5">
          Session
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          {{ appoinment.session_name }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">
         Preferred Time
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
        {{ appoinment.time_name }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">
          Confirmed Time
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
        {{ appoinment.confirm_time }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">
          Token Number
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          {{ appoinment.token_number }}
        </ion-col>
      </ion-row>

    </div>

    <div class="user-information">
      <p> <span style="color: red;font-size: 25px;">*</span> If you want change or cancel Apponment Please contact &nbsp; - <span style="font-size: 20px;font-weight: 600;">044-234567</span> </p>
    </div>


  </div>









</ion-content>