<ion-header>
    <ion-toolbar color="primary">
       <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
       </ion-buttons>
       <ion-title>Appoinment History</ion-title>
    </ion-toolbar>
 </ion-header>




 <ion-content>
    <h5 class="book-heading">Appoinment History</h5>



    <div class="bookinglist" >
       <div class="user-detail">
          <ion-row>
             <ion-col size="5">
                Name
             </ion-col>
             <ion-col size="1">
                :
             </ion-col>
             <ion-col size="6">
                Kannadhasan
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size="5">
                Age
             </ion-col>
             <ion-col size="1">
                :
             </ion-col>
             <ion-col size="6">
                23
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size="5">
                Date
             </ion-col>
             <ion-col size="1">
                :
             </ion-col>
             <ion-col size="6">
                22-6-2019
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size="5">
                Session
             </ion-col>
             <ion-col size="1">
                :
             </ion-col>
             <ion-col size="6">
                Evening
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size="5">
                Time
             </ion-col>
             <ion-col size="1">
                :
             </ion-col>
             <ion-col size="6">
                7.30 PM
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size="5">
                Token ID
             </ion-col>
             <ion-col size="1">
                :
             </ion-col>
             <ion-col size="6">
                243
             </ion-col>
          </ion-row>
       </div>
    </div>





    <div class="bookinglist" >
        <div class="user-detail">
           <ion-row>
              <ion-col size="5">
                 Name
              </ion-col>
              <ion-col size="1">
                 :
              </ion-col>
              <ion-col size="6">
                 Kannadhasan
              </ion-col>
           </ion-row>
           <ion-row>
              <ion-col size="5">
                 Age
              </ion-col>
              <ion-col size="1">
                 :
              </ion-col>
              <ion-col size="6">
                 23
              </ion-col>
           </ion-row>
           <ion-row>
              <ion-col size="5">
                 Date
              </ion-col>
              <ion-col size="1">
                 :
              </ion-col>
              <ion-col size="6">
                 22-6-2019
              </ion-col>
           </ion-row>
           <ion-row>
              <ion-col size="5">
                 Session
              </ion-col>
              <ion-col size="1">
                 :
              </ion-col>
              <ion-col size="6">
                 Evening
              </ion-col>
           </ion-row>
           <ion-row>
              <ion-col size="5">
                 Time
              </ion-col>
              <ion-col size="1">
                 :
              </ion-col>
              <ion-col size="6">
                 7.30 PM
              </ion-col>
           </ion-row>
           <ion-row>
              <ion-col size="5">
                 Token ID
              </ion-col>
              <ion-col size="1">
                 :
              </ion-col>
              <ion-col size="6">
                 243
              </ion-col>
           </ion-row>
        </div>
     </div>




     <div class="bookinglist" >
        <div class="user-detail">
           <ion-row>
              <ion-col size="5">
                 Name
              </ion-col>
              <ion-col size="1">
                 :
              </ion-col>
              <ion-col size="6">
                 Kannadhasan
              </ion-col>
           </ion-row>
           <ion-row>
              <ion-col size="5">
                 Age
              </ion-col>
              <ion-col size="1">
                 :
              </ion-col>
              <ion-col size="6">
                 23
              </ion-col>
           </ion-row>
           <ion-row>
              <ion-col size="5">
                 Date
              </ion-col>
              <ion-col size="1">
                 :
              </ion-col>
              <ion-col size="6">
                 22-6-2019
              </ion-col>
           </ion-row>
           <ion-row>
              <ion-col size="5">
                 Session
              </ion-col>
              <ion-col size="1">
                 :
              </ion-col>
              <ion-col size="6">
                 Evening
              </ion-col>
           </ion-row>
           <ion-row>
              <ion-col size="5">
                 Time
              </ion-col>
              <ion-col size="1">
                 :
              </ion-col>
              <ion-col size="6">
                 7.30 PM
              </ion-col>
           </ion-row>
           <ion-row>
              <ion-col size="5">
                 Token ID
              </ion-col>
              <ion-col size="1">
                 :
              </ion-col>
              <ion-col size="6">
                 243
              </ion-col>
           </ion-row>
        </div>
     </div>



 </ion-content>