<ion-header>
   <ion-toolbar color="primary">
      <ion-buttons slot="start">
         <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Appoinment History</ion-title>
   </ion-toolbar>
</ion-header>




<ion-content>
   <h5 class="book-heading">Appoinment History</h5>

   <ion-card class="card-detail">

      <ion-row>
         <ion-col size="7">
               <p class="user-name"> User Name</p>
               <p class="user-mobile">9876663523</p>
               <p class="user-date">10-02-2019</p>


         </ion-col>

         <ion-col size="5">
            <ion-button size="small" class="btn-pres"  routerLink="/prescriptionlist">Prescription</ion-button>
         </ion-col>
      </ion-row>


   </ion-card>

</ion-content>